# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [9]:
import pandas as pd 
import numpy as np

file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# after reviewing the dataset, i can see there are quite a lot of anomalies with blank rows. 
# removed any null values in the 'customer' column section as this is a requirement for a customer registration
# this returned an updated value data set with 4008 customer entries

file1 = file1.dropna(subset=['Customer'])

print(file1.shape)
print(file1.dtypes)

(1071, 11)
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [44]:
# provided an overview of the numerical columns
# i can observe for income, the most frequent value is 0.0, assuming there are a few people without income.
# the average premium cost is 193 however, the standard deviation is 1600 is the values are spread out.

print("Income Mean:", file1['Income'].mean())
print("Income Median:",file1['Income'].median())
print("Income Mode:", file1['Income'].mode())
print("Income Std:", file1['Income'].std())

print("Premium Mean:", file1['Monthly Premium Auto'].mean())
print("Premium Median:",file1['Monthly Premium Auto'].median())
print("Premium Mode:", file1['Monthly Premium Auto'].mode())
print("Premium Std:", file1['Monthly Premium Auto'].std())

print("Claim Mean:", file1['Total Claim Amount'].mean())
print("Claim Median:",file1['Total Claim Amount'].median())
print("Claim Mode:", file1['Total Claim Amount'].mode())
print("Claim Std:", file1['Total Claim Amount'].std())

print(file1[['ST']].value_counts())
print(file1[['GENDER']].value_counts())
print(file1[['Education']].value_counts())
print(file1[['Policy Type']].value_counts())

Income Mean: 39295.70121381886
Income Median: 36234.0
Income Mode: 0    0.0
Name: Income, dtype: float64
Income Std: 30469.42706040185
Premium Mean: 193.234360410831
Premium Median: 83.0
Premium Mode: 0    65.0
Name: Monthly Premium Auto, dtype: float64
Premium Std: 1601.190368577621
Claim Mean: 404.98690940896364
Claim Median: 354.729129
Claim Mode: 0    321.6
Name: Total Claim Amount, dtype: float64
Claim Std: 293.0272599264041
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [51]:
# using the ST column for a value count to check all the values  

file1['ST'].value_counts()

ST
Oregon        320
Arizona       211
California    211
Cali          120
Washington    111
Nevada         98
Name: count, dtype: int64

In [50]:
# Some rows have abbreviations for statement, which should be changed to the full name

file1['ST'] = file1['ST'].replace('AZ', 'Arizona')
file1['ST'] = file1['ST'].replace('WA', 'Washington')

In [49]:
# using the 'nsmallest' function i arrange the least 5 in ascending order

lowest5 = file1['ST'].value_counts()
print(lowest5.sort_values().nsmallest(5))

ST
Nevada         98
Washington    111
Cali          120
Arizona       211
California    211
Oregon        320
Name: count, dtype: int64

In [ ]:
### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [24]:
# I use value_counts again to calculate and compare the amount of policies sold between each

print(file1[['Policy Type']].value_counts())

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [37]:
# I create a filtered list firsly for personal, only including the income and policy type


filtered = file1.loc[:,['Income','Policy Type']]
personal = filtered[filtered['Policy Type'] == 'Personal Auto']

print("Personal Auto Income Average:", personal['Income'].mean())

Personal Auto Income Average: 38180.69871794872

In [39]:
# I create a second filtered list for corporate, only including the income and policy type


filtered = file1.loc[:,['Income','Policy Type']]
corporate = filtered[filtered['Policy Type'] == 'Corporate Auto']

print("Corporate Auto Income Average:", corporate['Income'].mean())


# I can see that on average income for people who purchase corporate insurance is higher.

Corporate Auto Income Average: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here